<app-setting-layout [classMain]="'setting-password'">
  <ng-container content>
    <form nz-form nzLayout="vertical" [formGroup]="formPassword">
      <div class="setting-password-header">
        <div class="setting-password-header-title">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <span>{{ "CHANGE_PASSWORD" | translate }}</span>
        </div>
      </div>

      <nz-form-item class="mt-24">
        <nz-form-control [nzErrorTip]="errorTmpl">
          <nz-form-label>
            {{ "CURRENT_PASSWORD" | translate }}
          </nz-form-label>
          <nz-input-group
            [nzPrefix]="passwordIconTmpl"
            [nzSuffix]="passwordTypeCurrentTmpl"
          >
            <input
              [type]="displayPassword.current ? 'text' : 'password'"
              nz-input
              formControlName="currentPass"
              [placeholder]="'CURRENT_PASSWORD' | translate"
            />

            <ng-template #passwordTypeCurrentTmpl>
              <div (click)="displayPasswordCurrent()">
                <ng-container
                  *ngTemplateOutlet="
                    passwordTypeTmpl;
                    context: { isShow: displayPassword.current }
                  "
                ></ng-container>
              </div>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="">
        <nz-form-control [nzErrorTip]="errorTmpl">
          <nz-form-label>
            {{ "NEW_PASSWORD" | translate }}
          </nz-form-label>
          <nz-input-group
            [nzPrefix]="passwordIconTmpl"
            [nzSuffix]="passwordTypeNewTmpl"
          >
            <input
              [type]="displayPassword.new ? 'text' : 'password'"
              nz-input
              formControlName="newPass"
              [placeholder]="'NEW_PASSWORD' | translate"
            />

            <ng-template #passwordTypeNewTmpl>
              <div (click)="displayPasswordNew()">
                <ng-container
                  *ngTemplateOutlet="
                    passwordTypeTmpl;
                    context: { isShow: displayPassword.new }
                  "
                ></ng-container>
              </div>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>

  <ng-container footer>
    <div class="setting-password-footer">
      <ion-button (click)="submit()">{{ "SAVE" | translate }}</ion-button>
    </div>
  </ng-container>
</app-setting-layout>

<ng-template #passwordIconTmpl>
  <ion-icon name="lock-closed-outline"></ion-icon>
</ng-template>

<ng-template #passwordTypeTmpl let-isShow="isShow">
  @if(isShow) {
  <ion-icon name="eye-outline"></ion-icon>
  } @else {
  <ion-icon name="eye-off-outline"></ion-icon>
  }
</ng-template>

<ng-template #errorTmpl let-control>
  @if (control.errors?.['required']) { Please input your username! } @if
  (control.errors?.['duplicated']) { The username is redundant! }
</ng-template>
