.schedule-log-event-remind {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12px;
    width: 100%;

    &-title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: 700;
      gap: 8px;
      color: var(--ion-text-secondary);
      margin-bottom: 12px;
    }

    &-image {
      height: 160px;
      margin-bottom: 16px;
    }
  }

  &-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    ion-button {
      min-width: 100px;
      min-height: 2.5em;
      font-weight: 700;
    }
  }

  &-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed var(--ion-text-color);
    padding: 20px;
    border-radius: 12px;
    min-width: 300px;
    width: 30%;
    height: 150px;
    margin-bottom: 20px;
    background-color: var(--ion-background-secondary);

    ion-icon {
      font-size: 50px;
    }

    span {
      margin-top: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: 600;
      gap: 8px;
      color: var(--ion-text-secondary);
    }
  }

  &-form {
    min-width: 300px;
    width: 60%;

    &-field {
      margin-bottom: 20px;

      &-label {
        font-size: 16px;
        font-weight: 700;
        color: var(--ion-text-color-icon);
        margin-bottom: 8px;
      }

      &-desc {
        font-size: 14px;
        font-weight: 700;
        color: var(--ion-text-color-icon);
        margin-bottom: 8px;
      }

      &.checkbox-remind {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .schedule-log-event-remind {
    &-container {
      height: auto;
    }
  }
}
