:root {
  --color1: #ffffff;
  --color2: #22577e;
  --color3: rgba(120, 190, 195, 0.2);
  --color4: #acb3bf;
  --color5: #ff7575;
  --color6: #ff0000;
  --color7: rgba(255, 0, 0, 0.2);
  --color8: #feea37;
  --color9: rgba(255, 230, 0, 0.2);

  --color-50: #f3f7fc;
  --color-100: #e6f0f8;
  --color-200: #c8dfef;
  --color-300: #97c5e2;
  --color-400: #5fa6d1;
  --color-500: #3a8bbd;
  --color-600: #2a6f9f;
  --color-700: #22577e;
  --color-800: #204c6c;
  --color-900: #20415a;
  --color-950: #15293c;
}
