.config-page-content {
  &-main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .button-config {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 24px;
    border-radius: 12px;
    background-color: var(--ion-background-secondary);
    margin-top: 20px;
    width: 340px;
    height: 104px;

    &-icon {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: var(--yellow-color);
      border: 1px solid #252525;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 12px;

      img {
        width: 32px;
        height: 32px;
      }
    }

    &-text {
      font-size: 1.1rem;
      font-weight: 700;
      text-align: center;
      word-break: break-word;
      width: calc(100% - (60px + 20px));
    }
  }
}

@media only screen and (max-width: 500px) {
  .config-page-content {
    &-main {
      height: auto;
    }
  }
}
