:host {
  position: relative;
  height: 53px;
  display: flex;
}
.mode + .container {
  --color-pure: #000;
  --color-primary: #e8e8e8;
  --color-secondary: #212121;
  --muted: #b8b8b8;
  position: relative;
}
.mode:checked + .container {
  --color-pure: #fff;
  --color-primary: #212121;
  --color-secondary: #fff;
  --muted: #383838;
}
.container {
  // background-color: var(--color-secondary);
  position: absolute;
  width: 100%;
  height: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .theme {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  position: relative;
  cursor: pointer;
  z-index: 9;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid var(--muted);
  border-radius: calc(var(--round) - var(--p-y));
  margin-left: calc(var(--p-x) * 2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: background-color 0.25s linear;
}
.container .theme:hover {
  background-color: var(--muted);
}
.container .theme::before {
  content: "";
  position: absolute;
  left: calc(var(--p-x) * -1);
  width: 1px;
  height: 100%;
  background-color: var(--muted);
}
.container .theme span {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0.125rem;
  border-radius: 9999px;
  align-items: center;
  justify-content: center;
}
.mode:checked + .container .theme span.light,
.mode + .container .theme span.dark {
  display: none;
}
.mode + .container .theme span.light,
.mode:checked + .container .theme span.dark {
  display: flex;
}
.container .theme svg {
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke: currentColor;
  fill: none;
  height: 22px;
  width: 22px;
}

/* main style */
.wrap {
  --round: 10px;
  --p-x: 8px;
  --p-y: 4px;
  --w-label: 40px;
  display: flex;
  align-items: center;
  padding: var(--p-y) var(--p-x);
  position: relative;
  // background: var(--color-primary);
  background: transparent;
  border-radius: var(--round);
  max-width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  top: 0;
  z-index: 1;
}

.wrap input {
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
  display: none;
  visibility: hidden;
}
.label {
  // opacity: 0.75;
  cursor: pointer;
  outline: none;
  font-size: 0.875rem;
  letter-spacing: initial;
  font-weight: 500;
  color: var(--color-secondary);
  background: rgb(195 188 176 / 42%);
  // padding: 12px 16px;
  width: var(--w-label);
  min-width: var(--w-label);
  height: 24px;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  transition: color 0.25s ease;
  outline-offset: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  -webkit-tap-highlight-color: transparent;
  &:first-child {
    border-radius: var(--round) 0 0 var(--round);
  }
  &:last-child {
    border-radius: 0 var(--round) var(--round) 0;
  }
}
.label span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.wrap input[class*="rd-"]:checked + label {
  color: white;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  transform-origin: 0 0 0;
  height: 100%;
  width: var(--w-label);
  z-index: 0;
  transition: transform 0.5s cubic-bezier(0.33, 0.83, 0.99, 0.98);
}
.bar::before,
.bar::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--color-secondary);
}
.bar::before {
  top: 0;
  border-radius: 0 0 9999px 9999px;
}
.bar::after {
  bottom: 0;
  border-radius: 9999px 9999px 0 0;
}

.slidebar {
  position: absolute;
  height: calc(100% - (var(--p-y) * 4));
  width: var(--w-label);
  border-radius: calc(var(--round) - var(--p-y));
  background: #212529;
  transform-origin: 0 0 0;
  z-index: 0;
  transition: transform 0.5s cubic-bezier(0.33, 0.83, 0.99, 0.98);
}

label[for="rd-1"] {
  border-radius: var(--round) 0 0 var(--round);
}
.rd-1:checked ~ .bar,
.rd-1:checked ~ .slidebar,
.rd-1 + label:hover ~ .slidebar {
  transform: translateX(0) scaleX(1);
}
.rd-2:checked ~ .bar,
.rd-2:checked ~ .slidebar,
.rd-2 + label:hover ~ .slidebar {
  transform: translateX(100%) scaleX(1);
}
.rd-3:checked ~ .bar,
.rd-3:checked ~ .slidebar,
.rd-3 + label:hover ~ .slidebar {
  transform: translateX(200%) scaleX(1);
}

.rd-4:checked ~ .bar,
.rd-4:checked ~ .slidebar,
.rd-4 + label:hover ~ .slidebar {
  transform: translateX(300%) scaleX(1);
}


.rd-5:checked ~ .bar,
.rd-5:checked ~ .slidebar,
.rd-5 + label:hover ~ .slidebar {
  transform: translateX(400%) scaleX(1);
}

.rd-6:checked ~ .bar,
.rd-6:checked ~ .slidebar,
.rd-6 + label:hover ~ .slidebar {
  transform: translateX(500%) scaleX(1);
}

.rd-7:checked ~ .bar,
.rd-7:checked ~ .slidebar,
.rd-7 + label:hover ~ .slidebar {
  transform: translateX(600%) scaleX(1);
}

.rd-8:checked ~ .bar,
.rd-8:checked ~ .slidebar,
.rd-8 + label:hover ~ .slidebar {
  transform: translateX(700%) scaleX(1);
}

.rd-9:checked ~ .bar,
.rd-9:checked ~ .slidebar,
.rd-9 + label:hover ~ .slidebar {
  transform: translateX(800%) scaleX(1);
}
label[for="rd-9"] {
  border-radius: 0 var(--round) var(--round) 0;
}

.img-bcs {
  width: 410px;
  position: absolute;
  top: -9px;
  margin-left: -9px;
  &[src="assets/pets/BCS-CAT.png"] {
    margin-left: 9px;
  }
}
@media screen and (max-width: 520px) {
  .mode + .container {
    zoom: 0.8;
  }
  .img-bcs {
    top:0px;
  }
}
