:host {
    width: 100%;
}
:root {
    --text: hsl(0, 0%, 100%);
    --background: hsl(200, 12%, 5%);
  }
  .main {
    max-width: 1200px;
    margin-inline: auto;
    // border-inline: 1px solid deeppink;
  }
  
  // BENTO
  .bento {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100px;
    gap: 0.3rem;
  }
  
  .bento-card {
    inline-size: 100%;
    background: center / cover;
    border-radius: 0.7rem;
  
    &:nth-child(1) {
      grid-column: span 2;
      grid-row: span 5;
    }
    &:nth-child(2), &:nth-child(5) {
      grid-row: span 2;
    }
    &:nth-child(3), &:nth-child(4) {
      grid-row: span 3;
    }
  }
  
  // HOVER effect
  .bento-hover .bento-card {
      transition: 500ms;
  
    &:hover {
      scale: 1.01;
    }
  } 
  
  .bento-hover:hover .bento-card:not(:hover) {
    filter: saturate(50%) brightness(50%);
  }
  
  
  // PERSPECTIVE
  .bento-perspective {
  
    
      transform: perspective(1000px) rotateY(12deg) scaleX(1.372);
      transform-origin: left;
  }
  
  
  
  
  